<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @client.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @client.prenom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @client.adresse %>
</p>

<p>
  <strong>Numero telephone:</strong>
  <%= @client.numero_telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
